.redact-elem.complete-redact {
  display: none !important;
}

#fbversion-banner {
  height: 80px;
}
#fbversion-banner::before {
  background: var(--notification-badge);
}

.redact-elem:not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  ) {
  position: relative;
}
.redact-elem:not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  )
  > div,
.redact-elem:not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  )
  > div::before {
  transition: all 0.5s ease;
}
.redact-elem:not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  )
  > div::before {
  content: "Was something before" attr(redact-comment);
  border-top: 0px solid var(--secondary-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--secondary-text);
  background: var(--surface-background);
  font-family: var(--font-family-default);
  border-radius: var(--card-corner-radius);
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.redact-elem:not(.redact-elem-cover):not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  )
  > div::before {
  height: 50px;
}
.redact-elem.redact-elem-cover:not(.redact-elem.complete-redact):not(
    .redact-elem.redact-elem-fbhaar
  ):hover
  > div::before {
  opacity: 0.8;
}

.redact-elem.redact-elem-fbhaar {
  height: 50px;
}
.redact-elem.redact-elem-fbhaar::before {
  display: block;
  position: absolute;
  width: calc(100% - 25px);
  border-radius: var(--card-corner-radius);
  height: 20px;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  font-size: 0.9375rem;
  color: var(--secondary-text);
  background: var(--surface-background);
  font-family: var(--font-family-default);
  z-index: 1;
  content: "Facebook Hide Recommendations and Reels";
}

#fbcont-banner[fbtxt]::before {
  content: attr(fbtxt);
}
.redact-elem.redact-elem-fbhaar[fbtxt] > div::before {
  content: attr(fbtxt);
}
.redact-elem > div[ctext]::before {
  content: attr(ctext) !important;
}

.redact-elem.can-show > div[ctext]::before {
  content: "\02C5"" " attr(ctext) !important;
}

/*div[aria-label="Stories"] {
  display: none !important;
}*/
#stories-container > div.stories {
  display: none !important;
}

.redact-elem:not(.redact-elem-cover) {
  height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.redact-elem.temp-show > div {
  margin-bottom: 50px;
}
.redact-elem.temp-show > div::before {
  width: calc(100% - 20px) !important;
  border-top: 1px solid var(--secondary-text) !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  top: calc(100% - 10px) !important;
  height: 20px !important;
  padding: 10px !important;
}
.redact-elem.temp-show > div[ctext]::before {
  content: "\02C4"" " attr(ctext) !important;
}

/* div[role="main"] > div {
  transition: all 0.5s ease;
  opacity: 0;
}
div[role="main"][visible="show"] > div {
  opacity: 1;
}

div[role="main"]:not([visible="show"]) {
  position: relative;
  min-height: 100vh;
}
div[role="main"]:not([visible="show"])::before {
  top: 150px;
  z-index: 100;
  content: "";
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 4px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */
