.redact-elem {
  height: 50px;
  margin-bottom: 5px;
}

.redact-elem>div {
  display: none !important;
}
.redact-elem.complete-redact {
  display: none !important;
}

#fbversion-banner {
  height: 80px;
}
#fbversion-banner::before {
  background: var(--notification-badge);
}

.redact-elem::before {
  content: "Was something before" attr(redact-comment);
  display: block;
  position: absolute;
  width: calc(100% - 25px);
  border-radius: var(--card-corner-radius);
  height: 20px;
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  font-size: .9375rem;
  color: var(--secondary-text);
  /*background: var(--web-wash);*/
  background: var(--surface-background);
  font-family: var(--font-family-default);
  z-index: 1;
}

.redact-elem.redact-elem-fbhaar::before {
  content: "Facebook Hide Recommendations and Reels";
}

.redact-elem.redact-elem-fbhaar[fbtxt]::before {
  content: attr(fbtxt);
}
.redact-elem[ctext]::before {
  content: attr(ctext);
}

.redact-elem.can-show[ctext]::before {
  content: '\02C5' ' ' attr(ctext);
}

/*div[aria-label="Stories"] {
  display: none !important;
}*/
#stories-container>div.stories {
  display: none !important;
}

.redact-elem.temp-show {
  height: auto;
  margin-bottom: 5px;
}

.redact-elem.temp-show>div {
  display: block !important;
}
.redact-elem.temp-show[ctext]::before {
  content: '\02C4' ' ' attr(ctext);
}