.redact-elem {
  height: 45px;
  margin-bottom: 5px;
}

.redact-elem>div {
  display: none !important;
}

.redact-elem::before {
  content: "Was something before";
  display: block;
  position: absolute;
  width: calc(100% - 20px);
  border-radius: var(--card-corner-radius);
  height: 15px;
  padding: 10px;
  text-align: center;
  color: var(--primary-text);
  /*background: var(--web-wash);*/
  background: var(--surface-background);
}

.redact-elem.redact-elem-fbhaar::before {
  content: "Facebook Hide Recommendations and Reels";
}

/*.redact-elem.redact-elem-fbhaar[fbver]::before {
  content: "Facebook Hide Recommendations and Reels v"+attr(fbver);
}*/

.redact-elem.redact-elem-fbhaar[fbtxt]::before {
  content: attr(fbtxt);
}

.redact-elem.redact-elem-suggestions::before {
  content: "Was a suggestion before";
}

.redact-elem.redact-elem-reels::before {
  content: "Was a reel before";
}

.redact-elem.redact-elem-ads::before {
  content: "Was an AD before";
}

.redact-elem.redact-elem-peopleMayKnow::before {
  content: "Was friend recommendations before";
}

.redact-elem.redact-elem-commentedOn::before {
  content: "Was a post a friend commented on that you do not follow before";
}

/*div[aria-label="Stories"] {
  display: none !important;
}*/
#stories-container>div.stories {
  display: none !important;
}